body {
    margin: 0px;
}

#container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#collectionPanel {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 50px auto;
}

.leftPanel {
    display: flex;
    flex: 1;
    margin-right: 10px;
}

.rightPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
}

.lowerPanel {
    display: flex;
}

.collection {
    margin: 0 10px;
}

.collection img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;
    height: 100%;
}

.photo-text {
    position: relative;
    z-index: 10;
    display: inline-block;
}

.photo-text h2 span {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 70px;
    left: -10px;
    font-weight: 1200;
}

.photo-text h2 span::after {
    content: '';
    width: 30px;
    height: 1px;
    margin-left: 16px;
    position: absolute;
    bottom: 10px;
    vertical-align: middle;
    background-color: #e5523e;
}

.collection:hover {
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.topProducts h1 {
    font-size: 42px;
}

.topProducts {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 50px auto;
}

#slider button {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    color: gray;
    text-decoration: none;
    cursor: pointer;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

#slider button:hover {
    color: #e5523e;
}

#slider {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 50px auto;
}

.slide {
    padding-top: 12px;
    display: flex;
    flex: 1;
}

.cell {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
}

.cell h3 {
    color: rgb(59, 59, 59);
    margin: 0;
}

.cell h3:hover {
    transition: 0.5s;
    color: #e5523e;
}

.price {
    color: #e5523e;
    font-weight: 700;
    letter-spacing: 1px;
}

.subText {
    letter-spacing: 1px;
    color: rgb(114, 114, 114);
    font-size: 11px;
    margin: 20px 0 10px 0;
}

.subText:hover {
    color: #e5523e;
}

.productImage {
    position: relative;
    display: flex;
}

.onHoverImage {
    content: '';
    position: absolute;
    background-color: black;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.onHoverImage:hover {
    opacity: .4;
    transition: 0.5s;
}

.onHoverImage:hover+.hoverElement {
    display: inline-block;
}

.hoverElement {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.insideHoverElement {
    float: left;
}

.insideHoverElement img {
    position: absolute;
    padding: 5px;
    width: 22px;
    height: 22px;
    transform: translate(-50%, 50%);
    filter: brightness(0) invert(1);
    z-index: 2;
}

.iconBG {
    margin: 0 5px;
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-bottom-color: #e5523e;
    position: relative;
    top: -22px;
    opacity: 1;
    z-index: 1;
}

.iconBG:after {
    content: '';
    position: absolute;
    left: -22px;
    top: 22px;
    width: 0;
    height: 0;
    opacity: 1;
    border: 22px solid transparent;
    border-top-color: #e5523e;
    z-index: 1;
}